[{arizona, [
    {server, #{
        enabled => true,
        routes => [
            %% Arizona routes
            {asset, ~"/assets/js", {priv_dir, arizona, ~"static/assets/js"}},
            {websocket, ~"/live"},
            %% Website routes
            {asset, ~"/favicon.ico", {priv_file, arizona_website, ~"static/favicon.ico"}},
            {asset, ~"/favicon.svg", {priv_file, arizona_website, ~"static/favicon.svg"}},
            {asset, ~"/favicon-96x96.png", {priv_file, arizona_website, ~"static/favicon-96x96.png"}},
            {asset, ~"/apple-touch-icon.png", {priv_file, arizona_website, ~"static/apple-touch-icon.png"}},
            {asset, ~"/web-app-manifest-192x192.png", {priv_file, arizona_website, ~"static/web-app-manifest-192x192.png"}},
            {asset, ~"/web-app-manifest-512x512.png", {priv_file, arizona_website, ~"static/web-app-manifest-512x512.png"}},
            {asset, ~"/site.webmanifest", {priv_file, arizona_website, ~"static/site.webmanifest"}},
            {asset, ~"/robots.txt", {priv_file, arizona_website, ~"static/robots.txt"}},
            {asset, ~"/assets", {priv_dir, arizona_website, ~"static/assets"}},
            {asset, ~"/images", {priv_dir, arizona_website, ~"static/images"}},
            {view, ~"/", arizona_website_view, {arizona_website_home_page, #{}}}
        ]
    }},
    {reloader, #{
        enabled => true,
        rules => [
            #{
                handler => arizona_website_css_reloader,
                watcher => #{
                    directories => ["assets/css", "src"],
                    patterns => [".*\\.css$", ".*\\.erl$"]
                }
            },
            #{
                handler => arizona_website_erl_reloader,
                watcher => #{
                    directories => ["src"],
                    patterns => [".*\\.erl$", ".*\\.hrl$"]
                }
            }
        ]
    }}
]}].
