[{arizona, [
    {server, #{
        enabled => true,
        routes => [
            %% Website routes
            {asset, ~"/favicon.ico", {priv_file, arizona_website, ~"static/favicon.ico"}},
            {asset, ~"/robots.txt", {priv_file, arizona_website, ~"static/robots.txt"}},
            {asset, ~"/assets", {priv_dir, arizona_website, ~"static/assets"}},
            {asset, ~"/images", {priv_dir, arizona_website, ~"static/images"}},
            {view, ~"/", arizona_website_view, {arizona_website_home_page, #{}}},
            %% Arizona routes
            {asset, ~"/assets", {priv_dir, arizona, ~"static/assets"}},
            {websocket, ~"/live"}
        ]
    }},
    {reloader, #{
        enabled => true,
        rules => [
            #{
                handler => arizona_website_css_reloader,
                watcher => #{
                    directories => ["assets/css", "src"],
                    patterns => [".*\\.css$", ".*\\.erl$"]
                }
            },
            #{
                handler => arizona_website_erl_reloader,
                watcher => #{
                    directories => ["src"],
                    patterns => [".*\\.erl$", ".*\\.hrl$"]
                }
            }
        ]
    }}
]}].
